@keyframes growProgressBar {
    0%, 33% { --pgPercentage: 0; }
    100% { --pgPercentage: var(--value); }
    }

    @property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
    }

    div[role="progressbar"] {
    --size: 12rem;
    --fg: #EE3524 ;
    --bg: #999;
    --pgPercentage: var(--value);
    animation: growProgressBar 3s 1 forwards;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: 
        radial-gradient(closest-side, rgb(0, 0, 0) 80%, transparent 0 99.9%, white 0),
        conic-gradient(var(--fg) calc(var(--pgPercentage) * 1%), var(--bg) 0)
        ;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 600;
        font-family: 'Inter', sans-serif;
    color: #fff;
    }

    div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
    }


    .main.last{
    }
    .container.last{
        margin-top: 40px;
    }
    .message_wrapper{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .message_wrapper .message{
        width: 100%;
        max-width: 500px;
        margin-top: 40px;
    }
    .message_wrapper .message h3{
        color: #fff;
        /* font-size:42px; */
        font-size:30px;
        text-align: center;
    }
    .footer_wrapper{
        margin-top: 33px;
        display: flex;
        flex-direction: column;
        gap: 65px;
    }
    .footer_wrapper .sticker > img{
        height: auto;
        width: 117px;
    }
    .footer_wrapper .sticker{
        display: flex;
        flex-direction: column;
        gap: 6px;
        justify-content: center;
        align-items: center;
        
    }
    .footer_wrapper .sticker .stars{
        display: flex;
        gap: 4px;
    }
    .footer_wrapper .sticker .stars img{
        height: 20px;
        width: 20px;
    }
    .linkedin{
        display: flex;
        justify-content: center;
        gap: 1px;
        align-items: center;
        color: #fff;
        font-weight: 800;
        font-size: 17px;
        font-family: 'Inter', sans-serif;
    }
    .linkedin img{
        height: 45px;
        width: 45px;
    }
    @media screen and (min-width: 576px) {
        .message_wrapper .message h3{
            color: #fff;
            font-size:42px;
            text-align: center;
        }
        .footer_wrapper{
            margin-top: 33px;
            display: flex;
            flex-direction: row;
            gap: 65px;
        }
        .container.last{
            margin-top: 80px;
        }
    }