/* #version=0.0.0-2#77 ls 2023-11-10T08:54:38 5AA88E559A76314A */
/* #version=0.0.0-2#76 ls 2023-11-10T08:54:02 92DD54343B263BC4 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body,html{
    font-family: 'Inter', sans-serif;
}
.main,
body{
    background: #000;
    font-family: 'Inter', sans-serif;
}
.main{
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.main > img{
    height: auto;
    /* width: 360px; */
    width: 300px;
}
.main .vec-top,
.main .vec-bottom{
    position: absolute;
}
.main .vec-top{
    top:50px;
    right: 0;
    transform: rotate(190deg);
}
.main .vec-bottom{
    bottom: -30px;
    left: 0px;
    transform: rotate(190deg);
}
.form_start{
    padding-bottom: 73px;
}

.main .navigation{
    height: 94px;
    padding: 0 20px;
    border-bottom: 0.2px solid #262626;
    background: #000;
    z-index: 999;
    position: relative;
}
.main .navigation nav{
    width: 100%;
    height: 100%;
    /* layout */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.container{
    margin: 0 auto;
}

.form_container{
    padding-top: 39px;
}
.progress-container{
    padding: 0 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress-container .rectangle-wrapper{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.progress-container .rectangle-wrapper .rectangle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 5px);
    background: #262626;
    height: 7px;
}
.progress-container .rectangle-wrapper .circle{
    height: 16px;
    width: 16px;
    border-radius: 100px;
    background: #262626;
    display: block;
}

.header-text{
    margin-top: 40px;
    color: #fff;
    text-align: center;
    animation: fadein 1s ease;
    padding: 25px;
}
.header-text h3{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 14px;
}
.header-text h1{
    font-size: 30px;
    max-width: 570px;
    margin: 0 auto;
}
.header-text span{
    color: #F47B20;
}
.header-text p{
    color:#B2B2B2;
    margin: 0 auto;
    font-size: 13px;
    line-height: 26px;
    font-weight: 500;
}
.header-text p:nth-child(3){
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 754px;
}
.header-text p:nth-child(4){
    max-width: 700px;
}
.header-text button{
    margin-top: 38px;
    padding: 10px 10px;
    border-radius: 5px;
    background: linear-gradient(145deg, #EE3524 -81.34%, #F47B20 111.6%);
    box-shadow: 0px 8px 12px 0px rgba(178, 27, 32, 0.12);
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Inter', sans-serif;
    outline: none;
    border: none;
    cursor: pointer;
    color: #fff;
    width: 100%;
    height: 60px;
    max-width: 228px;
}
.fa-solid.fa-arrow-right{
    margin-left: 2px;
}
.form_start .reviews{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    animation: fadein 1s ease;
}
.form_start .reviews .star{
    display: flex;
    gap: 5px;
}
.form_start .reviews .star img{
    height: 20px;
    width: 20px;
}
.form_start .reviews span{
    color:#B2B2B2;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;

}
.fadeOut{
    animation: fadeOut 1s ease;
}
@keyframes fadein {
    0%{
        visibility: hidden;
        opacity: 0;
        transform: translate(0,20px);
    }
    100%{
        visibility: visible;
        opacity: 1;
        transform: translate(0,0px);
    }
}
@keyframes fadeOut {
    0%{
        visibility: visible;
        opacity: 1;
        transform: translate(0,0px);
    }
    100%{
        visibility:hidden;
        opacity: 0;
        transform: translate(0,20px);
    }
}

#get_started {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
    margin-top: 30px;
    position:relative;
    overflow: hidden;
}
#get_started::after{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: -100px;
    height: 100%;
    width: 90px;
    background: hsla(0,0%,100%,.4);
    -webkit-transition: all .15s linear;
    transition: all .15s linear;
    -webkit-transform: skewX(-20deg) translateX(0);
    transform: skewX(-20deg) translateX(0);
}
#get_started:hover::after{
    left: 260px;
}
#grpArrow{
    animation: move 2s ease-in-out infinite;
}

#Line2{
    
    animation: fold 2s ease-in-out infinite;

}
#Line3{
    animation: foldReverse 2s ease-in-out infinite;

}

@keyframes move {
    0%{
        transform: translate(-50px,0);
    }
    30%{
        transform: translate(0,0);
    }
    80%{
        transform: translate(-20px,0);        
    }
    100%{
        transform: translate(40px,0);
    }
}
@keyframes fold {
    0%{
        transform: translate(0px,0px) rotate(0deg);
    }
    50%{
        transform: translate(0px,0px) rotate(0deg);
    }
    100%{
        transform: translate(-4px,16.5px) rotate(-21deg);
    }
}
@keyframes foldReverse {
    0%{
        transform: translate(0px,0px) rotate(0deg);
    }
    50%{
        transform: translate(0px,0px) rotate(0deg);
    }
    100%{
        transform: translate(8px,-13.5px) rotate(21deg);
    }
}

@media screen and (min-width: 576px) {
    .container{
        max-width: 540px;
    }
    .progress-container .rectangle-wrapper .rectangle{
        height: 10px;
    }
    .progress-container .rectangle-wrapper .circle{

        height: 30px;
        width: 30px;
    }
    .progress-container{
        padding: 0 20px;
        width: 100%;
        max-width: 940px;
    }
    .header-text h3{
        font-size: 27px;
    }
    .header-text h1{
        font-size: 51px;
    }
    .header-text p{
        font-size: 17px;
    }
    .form_start .reviews{
        display: flex;
        flex-direction:row;
    }
}
@media screen and (min-width: 768px) {
    .container{
        max-width: 720px;
    }
    .progress-container .rectangle-wrapper .rectangle{
        height: 17px;
    }
    .progress-container .rectangle-wrapper .circle{
        height: 35px;
        width: 35px;
    }
    .header-text{
        padding: 0;
    }
    .main > img{
        height: auto;
        width: 450px;
    }
}
/* large */
@media screen and (min-width: 992px) {
    .container{
        max-width: 960px;
    }
}
@media screen and (min-width: 1200px) {
    .container{
        max-width: 1085px;
    }
}
@media screen and (min-width: 1400px) {
    .container{
        max-width: 1320px;
    }
}